# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variable file
.env

# MacOS
.DS_Store